* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: #14171d;
}

header {
    background: #1b1e24;
    padding: 20px;
    border-bottom: 1px solid grey;

    color: white;
    font-size: 2vw;
}

.body-elements {
    text-align: center;
}

.body-element {
    padding: 5%;
}

.grade-pipeline {
    position: absolute;
    top: 13vw;
    left: 10vw;

    width: 40vw;
    height: 10vw;
    background: white;
    border: 2px solid grey;
    text-align: center;
}

.create {
    position: relative;
    top: 8.8vw;
    left: 19vw;

    width: 2.5vw;
    height: 2.5vw;
    font-size: 1.7vw;
    color: blue;
    background: white;
    border: 2px solid grey;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.create:hover {
    cursor: pointer;
    background: gainsboro;
    border: 2px solid black;
}

.first-row {
    display: inline-block;
    font-size: 1.3vw;
}

#weight-label {
    position: absolute;
    top: 2.3vw;
    left: 5vw;
}

.weight-input {
    position: absolute;
    top: 2.7vw;
    left: 15vw;
}

.weight-input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

#output1 {
    font-size: 2vw;
}

.first-row > span {
    position: absolute;
    top: 1.9vw;
    left: 30vw;

    font-size: 2vw;
}

.second-row {
    display: inline-block;
    font-size: 1.3vw;
}

#grade-label {
    position: absolute;
    top: 5.8vw;
    left: 5vw;
}

.grade-input {
    position: absolute;
    top: 5.8vw;
    left: 15vw;
}

.grade-input:focus {
    outline: none;
    border-bottom: 1px solid black;
}

.second-row > span {
    position: absolute;
    top: 5.2vw;
    left: 30vw;

    font-size: 2vw;
}

.grade-result {
    position: absolute;
    top: 20vw;
    left: 70vw;

    color: grey;
    font-size: 15vw;
}

.footer {
    text-align: center;
}

.footer-item > a {
    display: inline-block;
    font-size: 1vw;
    color: #74a1fb;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-item > a:hover {
    text-decoration: underline;
    color: #3e6cc9;
}
